/*.nav__write-button:active {*/
    /*transform: scale(2) translateX(100px) rotate(45deg);*/
    /*transition-duration: 1s;*/
/*}*/

@keyframes remove {
    to {
        display: none;
        z-index: -1;
        /*transform: scale(2) translateX(100px) rotate(45deg);*/
        /*transition-duration: 1s;*/
    }
    /*0% { transform: translate(0, 0); }*/
    /*25% {*/
        /*transform: translate(100%, 0);*/
        /*animation-timing-function: linear;*/
    /*}*/
    /*50% { transform: translate(100%, 200%); }*/
    /*75% {*/
        /*transform: translate(0, 200%);*/
        /*animation-timing-function: linear;*/
    /*}*/
    /*100% { transform: translate(0, 0); }*/
}

#remove-letter__hider {
    display: none;
}

.remove-letter {
    position: relative;
}

#remove-letter__hider:checked + .remove-letter {
    /*animation-name: remove;*/
    /*animation-duration: 3s;*/
    z-index: 1;
    transform: translateY(-42px);
    top: -42px;
    transition-duration: 1s;
}

