.apple-page {
    position: absolute;
}

.apple-page__content {
    height: 400px;
    width: 500px;
    background-color: #fff;
}

.apple-page__text {
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.apple-page__exit {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    font-size: 35px;
    color: #808080;
    cursor: pointer;
}

.apple-page__apple-img {
    width: 150px;
    height: 180px;
    shape-outside: url('../images/apple.png');
}

#apple-page__hider {
    display: none;
}

#apple-page__hider:checked ~ .apple-page__content {
    display: block;
}
