.essay_link:visited {
    outline-style: dashed;
}

.essay_centered_item {
    margin: 0 auto;
}

.essay__body {
    font-family: "Monospaced", monospace;
    width: 100%;
    margin: 0;
}

.essay__paragraph-container {
    width: 700px;
    padding: 20px;
    text-align: center;
    min-height: 100%;
}

.essay__paragraph {
    size: 16pt;
    border-style: groove;
    text-indent: 30px;
    word-spacing: 5px;
    quotes: "'" "'";
}

.essay_header {
    font-weight: bolder;
    box-shadow: 1px 1px 1px 1px black;
}

.essay_target_container {
    width: 33%;
    text-align: center;
    margin: 0 auto;
}

.essay_footer {
    width: 100%;
    height: 100%;
}

.essay_target_inner:hover {
    cursor: crosshair;
}

.essay_medium_width {
    width: 300px;
}

.essay_code_snippet:hover {
    display: none;
}

.essay_emphasize:hover {
    font-style: oblique;
    text-decoration-color: #0ff !important;
    text-decoration: underline;
}

.essay_rt {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 3px;
    white-space: pre;
}

.essay__img-rounded {
    shape-outside: circle(50%);
    width: 150px;
    float: left;
}

.essay_button {
    outline: #125783 dashed 2px;
}

.essay_black_text_block {
    user-select: none;
    background: #000;
}

.essay_lowercase:hover {
    text-transform: lowercase;
    text-shadow: 1px 1px 1px chartreuse;
}

.essay_rotate:hover {
    transition-delay: 200ms;
    transform: rotate(90deg);
}

.essay_button {
    width: 100px;
    opacity: 0.5;
}

.essay_label {
    width: 200px;
    direction: rtl;
}

.essay_label:after {
    content: ' \00A9';
}

.essay_i {
    letter-spacing: 1px;
}

.essay_textarea {
    resize: both;
    overflow: auto;
}

.essay_table_dark_cell {
    background: #324053
}

.essay_table_marine_cell {
    background: #125783
}

.essay_table_peach_cell {
    background: #f9a283
}

.essay__nuclear-explosion {
    background-image: url("https://i.gifer.com/origin/d4/d4efe215d7b06ed7be0b467c8a4ddffd_w200.gif");
    background-size: 100%;
    display: none;
    min-height: 100vh;
    width: 100%;
}