.letter-box {
    margin: 0 10px 10px 10px;
    min-width: calc(100% - 160px);
    min-height: 350px;
    height: calc(100% - 10px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    background-color: #fff;
    font-family: "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 800px) {
    .letter-box {
        min-width: 600px;
    }
}

@media screen and (min-width: 4000px) {
    .letter-box {
        min-width: 94%;
    }
}

#letter-box__letters {
    position: relative;
    width: 100%;
    height: calc(100% - 65px);
    overflow: auto;
}

@media screen and (min-width: 6000px) {
    #letter-box__letters {
        height: 98%;
    }
}

.letter-box__hr {
    margin: 0;
    opacity: 0.4;
}

.letter {
    position: relative;
    z-index: 1;
}

.letter__line {
    position: relative;
    padding: 10px 20px;
    font-size: 13px;
    height: 20px;
    background-color: white;
}

.letter__line > li {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.letter__line > li:not(:first-child) {
    vertical-align: middle;
}

.letter-box__header {
    padding: 10px 20px;
    font-size: 13px;
}

.letter-box__header > li {
    display: inline-block;
}

.letter-box__header > li:first-child {
    margin-right: -5px;
}

.letter-box__header > li:not(:first-child) {
    margin-left: 25px;
    color: #ccc;
    font-weight: 500;
}

.letter-box__header > li > input[type="button"] {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.letter-box__header > li > input[type="button"]:hover {
    color: black;
}

/* Check Box */

.check {
    width: 16px;
    height: 16px;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    cursor: pointer;
}

.check__input:checked + .check__box {
    border-color: rgba(153, 122, 0, 0.5);
    box-shadow: inset 0 90px #ffeba0;
}

.check__input:checked + .check__box:after {
    visibility: inherit;
}

.check__box:after {
    margin: -9px 0 0 6px;
    width: 7px;
    height: 21px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    -webkit-transform: scale(0.85) rotate(47deg) skewX(12deg);
    transform: scale(0.85) rotate(47deg) skewX(12deg);
    visibility: hidden;
}

/* --- */

.letter__line_not-read {
    font-weight: 700;
}

.author {
    margin: -5px 0 0 10px;
    width: 30px;
    height: 30px;
}

.author__logo {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.author-name {
    margin: 0 0 5px 10px;
    width: 160px;
}

.read-mark {
    margin: 0 0 5px 5px;
    width: 10px;
    height: 10px;
}

.read-mark_not-read {
    border-radius: 100px;
    background-color: #6287bd;
}

.topic {
    min-width: 220px;
    position: absolute;
    top: 13px;
    left: 281px;
    right: 70px;
}

.date {
    color: #9b9b9b;
    text-align: right;
    position: absolute;
    top: 13px;
    right: 20px;
}

.letter-box__footer {
    padding: 5px 20px;
    float: right;
    font-size: 11px;
    font-family: 'Helvetica Neue Light', sans-serif;
}

.letter-box__footer > * {
    display: inline-block;
    vertical-align: center;
    margin-left: 25px;
    color: #9e9e9e;
    font-weight: 700;
}
