html {
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100%;
}

.mail_body {
    background-color: #e5eaf0;
    height: calc(100% - 28px);
    margin: 0 0 0 214px;
    min-height: calc(100% - 28px);
    min-width: 768px;
    overflow: visible;
    padding: 0 22px 14px;
}

.sidebar_logo_container {
    overflow: visible;
}

.sidebar_logo {
    position: relative;
}

.sidebar_logo_container {
    height: 60px;
    position: relative;
}

.sidebar_hamburger {
    height: 32px;
    left: 10px;
    position: absolute;
    top: 3px;
    transform: scale(0.7);
    width: 32px;
}


.sidebar_logo {
    font-size: 32px;
    font-weight: 100;
    margin-left: 48px;
}

.sidebar_new_letter {
    background-color: #6287bd;
    border-radius: 3px;
    border: solid 1px #e5eaf0;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.link_unset_style {
    color: unset;
    display: block;
    font-style: unset;
    height: 100%;
    text-decoration: unset;
    width: 100%;
}

.essay_close {
    background: none;
    border: none;
    font-family: "Droid Sans", sans-serif;
    font-size: 32px;
    height: 32px;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
}

.letters_inline_first_task {
    position: relative;
    display: none;
}

.letters_footer_link:hover {
    font-style: unset;
    color: #343434;
    text-decoration: unset;
}

.letters_letter_unread .letters_sender_name {
    font-weight: bold;
}

.letters_letter_unread .letters_preview {
    font-weight: bold;
}

.letters_panel_link:hover {
    color: #343434;
    font-style: unset;
    text-decoration: unset;
}

.sidebar {
    height: 320px;
    padding: 14px 22px;
    width: 192px;
}

.sidebar_menu_item_active {
    background-color: #cdd6e4;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar_menu > li:hover {
    background-color: #c8d1dd;
    border-radius: 3px;
}

.sidebar_menu {
    padding-left: 10px;
}

.sidebar_menu > li {
    color: #707070;
    display: block;
    margin: 6px 0;
    padding: 6px 10px;
}

.layout_sidebar {
    left: 0;
    position: absolute;
    top: 0;
}

.layout_letters {
    height: calc(100% - 114px);
    min-height: calc(100% - 114px);
}

.letters {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    height: 100%;
    min-height: 500px;
    padding-bottom: 48px;
    position: relative;
}

.letters_panel {
    border-bottom: solid 1px #e2e2e2;
    height: 48px;
    justify-content: start;
    overflow: hidden;
}


.letters_letter {
    background-color: #fff;
    border-bottom: solid 1px #e2e2e2;
    height: 48px;
    overflow: hidden;
}

.letters_panel_item {
    color: #ccc;
    float: left;
    font-weight: 500;
    margin: auto 10px;
}

.letters_footer {
    background-color: #fff;
    border-top: solid 1px #e2e2e2;
    bottom: 0;
    float: bottom;
    height: 48px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.letters_footer_item {
    float: right;
    margin: 0 16px;
}

.letters_sender_icon {
    background-color: #f33;
    border-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    float: left;
    font-size: 24px;
    height: 32px;
    margin: 8px 10px;
    min-width: 32px;
    padding-top: 3px;
    text-align: center;
    width: 32px;
}

@keyframes delete_animation {
    50% {
        opacity: 0;
    }
    to {
        height: 0;
        border: 0;
    }
}

@keyframes add_animation {
    from {
        opacity: 0;
        height: 0;
    }
    50% {
        height: 48px;
    }
    to {
        opacity: 1;
    }
}

.single-letter {
    color: #fff;
    transform: scaleX(0.7) scaleY(1.2);
}

.letters_sender_name {
    float: left;
    overflow: hidden;
    width: 200px;
}

.single-line {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.letters_read_box {
    float: left;
    height: 8px;
    margin: 20px 10px;
    min-width: 8px;
    width: 8px;
}

.letters_letter_unread .letters_read_box {
    background-color: #6287bd;
    border-color: #fff;
    border-radius: 4px;
}

.sidebar_logo_yandex {
    position: absolute;
}

.sidebar_logo_mail {
    left: 112px;
    position: absolute;
}

.checkbox {
    float: left;
    margin-top: 16px;
    padding: 0 10px 0 20px;
}

.checkbox-input:hover {
    filter: brightness(110%);
}

.checkbox-input:hover {
    cursor: pointer;
}

.checkbox-input {
    filter: brightness(120%);
    transform: scale(1.5);
}

.letters_preview {
    float: left;
    overflow: hidden;
    padding: 0 10px;
    width: calc(100% - 418px);
}

.letters_date {
    float: right;
    padding: 0 10px;
    width: 48px;
}

.letters_checkbox_hidden {
    display: none;
}

.letters_checkbox_hidden:checked ~ .letters_inbox {
    display: none;
}

.letters_checkbox_hidden:checked ~ .letters_inline_first_task {
    display: block;
}

.label_control {
    display: block;
    height: 100%;
    width: 100%;
}

.search_bar_close {
    background: none;
    border: none;
    color: #dfdfdf;
    font-family: "Droid Sans", sans-serif;
    font-size: 20px;
    height: 16px;
    position: absolute;
    right: -24px;
    top: calc(16px - 3px);
    transform: scaleX(1.3);
    width: 16px;
}

.clickable:hover {
    cursor: pointer;
}

.search_bar_close:hover {
    opacity: 0.5;
}

.search_bar {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

.search_bar_input {
    background-color: #f2f4f6;
    border: solid 1px #ccc;
    color: #9b9b9b;
    display: block;
    font-size: 22px;
    height: 100%;
    padding: 5px 24px 5px 10px;
    width: 100%;
}

.search_bar_input::placeholder {
    color: #aeaeae;
    font-size: 20px;
}

.layout_search {
    height: 32px;
    margin-bottom: 12px;
    padding: 14px;
}

.gray-text {
    color: #9b9b9b;
}