html {
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100%;
}

.mail-body {
    background-color: #e5eaf0;
    height: calc(100% - 28px);
    margin: 0 0 0 214px;
    min-height: calc(100% - 28px);
    min-width: 768px;
    overflow: visible;
    padding: 0 22px 14px;
}

.sidebar__logo {
    position: relative;
}

.sidebar__logo-container {
    overflow: visible;
    height: 60px;
    position: relative;
}

.sidebar__hamburger {
    height: 32px;
    left: 10px;
    position: absolute;
    top: 3px;
    transform: scale(0.7);
    width: 32px;
}


.sidebar__logo {
    font-size: 32px;
    font-weight: 100;
    margin-left: 48px;
}

.sidebar__button-new-letter{
    background-color: #6287bd;
    border-radius: 3px;
    border: solid 1px #e5eaf0;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    width: 100%;
}

.mail-link {
    color: unset;
    display: block;
    font-style: unset;
    height: 100%;
    text-decoration: unset;
    width: 100%;
}

.essay-close {
    background: none;
    border: none;
    font-family: "Droid Sans", sans-serif;
    font-size: 32px;
    height: 32px;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
}

.letter-inline-first-task {
    position: relative;
    display: none;
}

.letters__footer-link:hover {
    font-style: unset;
    color: #343434;
    text-decoration: unset;
}

.letter_unread .letter__sender-name {
    font-weight: bold;
}

.letter_unread .letter__preview {
    font-weight: bold;
}

.letters__panel-button:hover {
    color: #343434;
    font-style: unset;
    text-decoration: unset;
}

.sidebar {
    height: 320px;
    padding: 14px 22px;
    width: 192px;
}

.sidebar__menu-item_active {
    background-color: #cdd6e4;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar__menu-list > li:hover {
    background-color: #c8d1dd;
    border-radius: 3px;
}

.sidebar__menu-list {
    padding-left: 10px;
}

.sidebar__menu-list > li {
    color: #707070;
    display: block;
    margin: 6px 0;
    padding: 6px 10px;
}

.layout_sidebar {
    left: 0;
    position: absolute;
    top: 0;
}

.layout-letters {
    height: calc(100% - 114px);
    min-height: calc(100% - 114px);
}

.letters {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    height: 100%;
    min-height: 500px;
    padding-bottom: 48px;
    position: relative;
}

.letters__panel {
    border-bottom: solid 1px #e2e2e2;
    height: 48px;
    justify-content: start;
    overflow: hidden;
}


.letter {
    background-color: #fff;
    border-bottom: solid 1px #e2e2e2;
    height: 48px;
    overflow: hidden;
}

.letters__panel-item {
    color: #ccc;
    float: left;
    font-weight: 500;
    margin: auto 10px;
}

.letters__footer {
    background-color: #fff;
    border-top: solid 1px #e2e2e2;
    bottom: 0;
    float: bottom;
    height: 48px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.letters__footer-item {
    float: right;
    margin: 0 16px;
}

.letter__sender-icon {
    background-color: #f33;
    border-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    float: left;
    font-size: 24px;
    height: 32px;
    margin: 8px 10px;
    min-width: 32px;
    padding-top: 3px;
    text-align: center;
    width: 32px;
}

@keyframes delete_animation {
    50% {
        opacity: 0;
    }
    to {
        height: 0;
        border: 0;
    }
}

@keyframes add_animation {
    from {
        opacity: 0;
        height: 0;
    }
    50% {
        height: 48px;
    }
    to {
        opacity: 1;
    }
}

.letter__single-letter {
    color: #fff;
    transform: scaleX(0.7) scaleY(1.2);
}

.letter__sender-name {
    float: left;
    overflow: hidden;
    width: 200px;
}

.single-line {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.letter__read-box {
    float: left;
    height: 8px;
    margin: 20px 10px;
    min-width: 8px;
    width: 8px;
}

.letter_unread .letter__read-box {
    background-color: #6287bd;
    border-color: #fff;
    border-radius: 4px;
}

.sidebar__img-yandex {
    position: absolute;
}

.sidebar__img-mail {
    left: 112px;
    position: absolute;
}

.checkbox {
    float: left;
    margin-top: 16px;
    padding: 0 10px 0 20px;
}

.checkbox__input:hover {
    filter: brightness(110%);
}

.checkbox__input:hover {
    cursor: pointer;
}

.checkbox__input {
    filter: brightness(120%);
    transform: scale(1.5);
}

.letter__preview {
    float: left;
    overflow: hidden;
    padding: 0 10px;
    width: calc(100% - 418px);
}

.letter__date {
    float: right;
    padding: 0 10px;
    width: 48px;
}

.letters__control-checkbox {
    display: none;
}

.letters__control-checkbox:checked ~ .letters__inbox {
    display: none;
}

.letters__control-checkbox:checked ~ .letter-inline-first-task {
    display: block;
}

.essay-close__control-label {
    display: block;
    height: 100%;
    width: 100%;
}

.search-bar__button-close {
    background: none;
    border: none;
    color: #dfdfdf;
    font-family: "Droid Sans", sans-serif;
    font-size: 20px;
    height: 16px;
    position: absolute;
    right: -24px;
    top: calc(16px - 3px);
    transform: scaleX(1.3);
    width: 16px;
}

.clickable:hover {
    cursor: pointer;
}

.search-bar__button-close:hover {
    opacity: 0.5;
}

.search-bar {
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

.search-bar__input {
    background-color: #f2f4f6;
    border: solid 1px #ccc;
    color: #9b9b9b;
    display: block;
    font-size: 22px;
    height: 100%;
    padding: 5px 24px 5px 10px;
    width: 100%;
}

.search-bar__input::placeholder {
    color: #aeaeae;
    font-size: 20px;
}

.layout-search {
    height: 32px;
    margin-bottom: 12px;
    padding: 14px;
}

.gray-text {
    color: #9b9b9b;
}