@font-face {
    font-family: YandexSansBold;
    src: url("/fonts/YandexSansDisplay-Bold.ttf");
}

@font-face {
    font-family: YandexSansThin;
    src: url("/fonts/YandexSansDisplay-Thin.ttf");
}

@font-face {
    font-family: HelveticaNeue;
    src: url("/fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("/fonts/HelveticaNeueCyr-Light.otf");
}

body {
    min-width: 660px;
    max-width: 1600px;
    background: #e5eaf0;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

/*Start Header*/
.lines, .main-logo, .search {
    float: left;
    margin: 0;
}

.lines {
    margin-top: 12px;
}

.line {
    width: 20px;
    height: 3px;
    background-color: #000000;
    margin-top: 4px;
}

header {
    margin-top: 7px;
    margin-left: 22px;
    margin-bottom: 12px;
}

.main-logo {
    margin-left: 11px;
    margin-top: 7px;
}

.search {
    width: 37%;
    margin-left: 114px;
    height: 32px;
    margin-top: 11px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background: #f2f5f8;
}

.search-input {
    border: none;
    width: calc(100% - 50px);
    margin-left: 16px;
    height: 27px;
    outline: none;
    background-color: #f2f5f8;
}

.search-button {
    margin: 10px;
    height: 12px;
    width: 12px;
    padding: 0;
    float: right;
    border: none;
    background: #f2f5f8;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*End Header*/

/*Start menu*/
.menu {
    width: 147px;
    float: left;
    margin-left: 22px;
    max-width: 170px;
}

.to-write {
    width: 147px;
    height: 32px;
    color: #ffffff;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    /*font-weight: 500;*/
    background-color: #6287bd;
    border-radius: 3px;
    border: none;
    /*margin-bottom: 8px;*/
}

.to-write:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.bar {
    padding: 0;
}

.bar-li {
    width: 147px;
    list-style: none;
    border-radius: 3px;
}

.bar-a {
    text-decoration: none;
    color: #555555;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding-top: 12px;
    padding-left: 10px;
}

.bar-li:hover {
    background-color: #cdd6e4;
}

/*End menu*/

/*Start Container*/

.main-block {
    width: calc(100% - 230px);
    min-width: 400px;
    min-height: 400px;
    margin-left: 22px;
    margin-bottom: 14px;
    margin-right: 20px;
    padding: 0;
    float: right;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    background-color: #ffffff;
    position: relative;
}

.check {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    float: left;
    margin: 12px;
}

.mail-functions {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.mail-functions-ul {
    margin: 0;
}

.mail-checkbox {
    margin: 11px 12px;
}

.mail-functions-li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.mail-functions-li-a {
    text-decoration: none;
    color: #cccccc;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.mail-functions-li-a:hover {
    border-bottom: 2px solid #cccccc;
}

/*End Container*/

/*Start letter*/
.all-letters {
    height: calc(100vh - 14px);
    overflow: scroll;
}

.letter {
    border-bottom: 2px solid #e2e2e2;
    height: 40px;
}

.ya {
    text-align: center;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
    height: 30px;
}

.hidden-check {
    display: none;
}

.mail-from {
    margin: 10px;
    float: left;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 0.8em;
    height: 18px;
    width: 29%;
    overflow: hidden;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #6287bd;
    margin-left: 10px;
    margin-top: 15px;
    float: left;
}

.hidden {
    visibility: hidden;
}

.bold-text {
    font-weight: 700;
}

.topic {
    color: #000000;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 0.8em;
    margin-left: 2%;
    margin-top: 11px;
    min-width: 30px;
    width: 30%;
    height: 16px;
    overflow: hidden;
    float: left;
}

.date {
    color: #9b9b9b;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 0.8em;
    float: right;
    margin-right: 2%;
    width: 6%;
    height: 20px;
    overflow: hidden;
}

/*End letter*/

/*Start My letter*/
.my-topic {
    display: none;
    position: absolute;
    background: rgb(199, 216, 226);
    padding: 10px 2%;
    shape-outside: circle();
    float: left;
    color: #000000;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    height: calc(100% - 80px);
    overflow: scroll;
}

.my-topic > p {
    margin-top: 10px;
}


input[type=checkbox]:checked + label {
    display: none;
}

input[type=checkbox]:checked ~ .letter {
    display: none;
}

input[type=checkbox]:checked ~ .my-topic {
    display: block;
}

.tiger {
    border-radius: 50%;
    shape-outside: circle();
    float: right;
}

.close {
    /*background-color: #ffffff;*/
    float: right;
}

/*End My Letter*/

/*start footer*/
footer {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #9b9b9b;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 0.7em;
    border-top: 2px solid rgba(140, 140, 140, 0.45);
}

.footer-text {
    margin-right: 20px;
    float: right;
}

.footer-a {
    margin-right: 10px;
    text-decoration: none;
    color: #9b9b9b;
}

/*End footer*/
