body {
	background-color: #e5eaf0;
}

#first-message {
	display: none;
}

#first-message:checked ~ .article {
	display: block;
}

.new-message {
	animation-name: new-message;
	animation-duration: 2s;
	animation-fill-mode: backwards;
}

@keyframes new-message {
	from {
		transform: scale(0.4) translateX(150vw);
	}
	20% {
		transform: scale(1);
	}
}

.delete-message {
	animation-name: delete-message;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes delete-message {
	20% {
		transform: scale(0.5);
	}
	to {
		transform: scale(0.5) translateX(150vw);
	}
}