@font-face {
    font-family: 'Yandex Sans Text';
    src: url('../resources/fonts/YandexSansText-Regular.eot');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url("../resources/fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
    font-family: HelveticaNeue;
    src: url("../resources/fonts/HelveticaNeueCyr-Medium.otf");
}

#first-message-read-trigger {
    display: none;
}

#first-message-read-trigger:checked ~ .first-message-body {
    display: block;
}

.check__input:checked + .check__box {
    border-color: rgba(153, 122, 0, .5);
    box-shadow: inset 0 90px #ffeba0;
}

.check__input:checked + .check__box:after {
    visibility: inherit;
}

#all-mails-chooser__input:checked + .all-mails-chooser__box {
    border-color: rgba(153, 122, 0, .5);
    box-shadow: inset 0 90px #ffeba0;
}

#all-mails-chooser__input:checked + .all-mails-chooser__box:after {
    visibility: inherit;
}

.logo-and-search {
    height: 32px;
    letter-spacing: -1em;
    position: relative;
}

.logo-lines {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: 20px;
}

.logo-lines__line {
    width: 20px;
    height: 2.4px;
    background-color: black;
    margin-top: 4.8px;
}

.logo-lines__line_first {
    width: 20px;
    height: 2.4px;
    background-color: black;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    width: 153px;
    height: 32px;
}

.logo__yandex-mail-pic {
    width: 153px;
    height: 32px;
}

.search {
    display: inline-block;
    vertical-align: middle;
    margin-left: 114px;
    position: absolute;
    left: 184px;
    right: 179px;
    min-width: 301px;
    height: 32px;
    line-height: 100%;
}

.search__textfield {
    display: inline-block;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    background: #f2f5f8;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 30px;
    color: black;
    font: 15px 'Helvetica Neue';
    outline: none;
}

.search__textfield::placeholder {
    font-family: 'Yandex Sans Text';
    opacity: 0.5;
}

.search__cross {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: -28px;
    margin-top: -3px;
    opacity: 0.15;
    font-size: 20px;
    cursor: pointer;
}

.logo-and-search {
    width: 100%;
    position: relative;
}

.letter-box {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 10px;
    position: absolute;
    left: 159px;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 350px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .34);
    border-radius: 3px;
    background-color: white;
    font-family: HelveticaNeue-Light;
}

#letter-box__letters {
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 25px;
    background-color: #fff;
    overflow: auto;
}

.letter-box__hr {
    margin: 0;
    opacity: 0.34;
}

.letter {
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.letter__line {
    margin: 0;
    position: relative;
    padding: 10px 20px;
    font-size: 13px;
    height: 20px;
    background-color: white;
}

.letter__line_first {
    margin: 0;
    position: relative;
    padding: 10px 20px;
    font-size: 13px;
    height: 20px;
    background-color: white;
    cursor: pointer;
}

.letter__element {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.letter__element_first {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.letter-box__header {
    margin: 0;
    padding: 10px 20px;
    font-size: 13px;
}

.letter-box_element {
    display: inline-block;
    margin-left: 25px;
    color: #ccc;
}

.letter-box_element_first {
    display: inline-block;
    margin-right: -5px;
}

.letter-box_option {
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.all-mails-chooser {
    list-style-type: none;
    width: 16px;
    height: 16px;
}

#all-mails-chooser__input {
    position: absolute;
}

.all-mails-chooser__box {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    cursor: pointer;
}

.all-mails-chooser__box:after {
    margin-top: -9px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6px;
    width: 7px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: black;
    visibility: hidden;
}

.check {
    list-style-type: none;
    width: 16px;
    height: 16px;
}

.letter-box__item {
    list-style-type: none;
}

.check__input {
    position: absolute;
}

.check__box {
    display: inline;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    cursor: pointer;
}

.check__box:after {
    margin: -9px 0 0 6px;
    width: 7px;
    height: 21px;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    visibility: hidden;
}

.letter__line_not-read {
    font-family: HelveticaNeue;
}

.letter__sender-logo-wrapper {
    list-style-type: none;
    margin: -5px 0 0 10px;
    width: 30px;
    height: 30px;
}

.letter__sender-pic {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.letter__sender-name {
    list-style-type: none;
    margin: 0 0 5px 10px;
    width: 160px;
}

.letter__read-mark {
    list-style-type: none;
    margin: 0 0 5px 5px;
    width: 10px;
    height: 10px;
}

.read-mark_not-read {
    border-radius: 100px;
    background-color: #6287bd;
}

.letter__text {
    list-style-type: none;
    min-width: 220px;
    position: absolute;
    top: 13px;
    left: 281px;
    right: 70px;
}

.letter__date {
    list-style-type: none;
    color: #9b9b9b;
    text-align: right;
    position: absolute;
    top: 13px;
    right: 20px;
}

.letter-box__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.letter-box__footer-info {
    padding: 5px 20px;
    text-align: right;
    font-family: HelveticaNeue-Light;
    font-size: 11px;
}

.letter-box__footer-item {
    display: inline-block;
    vertical-align: center;
    margin-left: 25px;
    color: #9e9e9e;
    font-family: HelveticaNeue;
}

.letter-box__footer-link {
    display: inline-block;
    vertical-align: center;
    margin-left: 25px;
    color: #9e9e9e;
    font-family: HelveticaNeue;
    text-decoration: none;
    cursor: pointer;
}

.mail-menu {
    display: inline-block;
    vertical-align: top;
    font-family: HelveticaNeue-Light;
    width: 147px;
    margin-bottom: 10px;
}

.mail-menu__write-button-wrapper {
    white-space: normal;
}

.mail-menu__write-button {
    border: none;
    outline: none;
    width: 100%;
    min-height: 32px;
    text-align: center;
    border-radius: 3px;
    background-color: #6287bd;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.mail-menu__get-letters-button-wrapper {
    margin-top: 8px;
    white-space: normal;
}

#mail-menu__get-letters-button {
    border: none;
    outline: none;
    width: 100%;
    min-height: 32px;
    text-align: center;
    border-radius: 3px;
    background-color: #6287bd;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.mail-menu__menu-options {
    margin-top: 8px;
    width: 100%;
    white-space: normal;
    padding: 0;
}

.mail-menu__menu-option {
    list-style-type: none;
    padding: 5px 10px;
    width: 87%;
    min-height: 14px;
    color: #707070;
    font-size: 11px;
}

.mail-menu__menu-option:hover {
    border-radius: 3px;
    background-color: #cdd6e4;
    font-family: HelveticaNeue;
}

.all-page {
    margin: 0 10px;
    background: #e5eaf0;
    white-space: nowrap;
}

.main-content {
    margin-top: 13px;
    position: absolute;
    top: 42px;
    left: 18px;
    right: 10px;
    bottom: 4px;
}

.mail-menu__menu-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.first-message-body {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1721;
    background-color: white;
}

.first-message-body__text {
    padding: 20px;
    font-size: 14px;
    white-space: normal;
}

.first-message-body__cross {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    color: black;
    cursor: pointer;
}

.first-message-body__cross:hover {
    background-color: yellow;
}

.first-message-body__letov-image {
    float: right;
    shape-outside: circle();
}

@media screen and (max-width: 800px) {
    .letter-box {
        min-width: 600px;
    }
}

@media screen and (min-width: 3000px) {
    .letter-box {
        left: 5.3%;
    }

    .main-content {
        margin-top: 0.5%;
    }

    .search {
        margin-top: 0;
        margin-right: 1%;
        margin-bottom: 0;
        margin-left: 4%;
    }

    .mail-menu {
        width: 5%;
    }
}