
#header-letters__checkbox {
    display: none;
}

.header-letters-checkbox__label {
    cursor: pointer;
    vertical-align: middle;
}

.header-letters-checkbox__label:before {
    content: "";
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    background: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
}

#header-letters__checkbox:checked + .header-letters-checkbox__label:before {
    content: "\2714";
}

.sender-info-container__checkbox {
    display: inline-block;
    vertical-align: middle;
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}