.page {
    position: absolute;
    display: none;
    width: 78%;
    height: 580px;
    background-color: white;
    overflow: hidden;
}

.page__text {
    padding: 20px;
    font-family: "Yandex Sans Light", serif;
    font-size: 14px;
}

.page__close {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    font-size: 35px;
    color: gray;
    cursor: pointer;
}

#element {
    shape-outside: ellipse(50px 100px at 50% 50%);
    clip-path: ellipse(50px 100px at 50% 50%);
    width: 100px;
    height: 300px;
    float: left;
    opacity: .2;
    background-color: purple;
}

#clicker {
    display: none;
}

#clicker:checked + .page {
    display: block;
}
