.letter {
    margin-left: 20px;
    height: calc(10% - 1px);
    word-spacing: -4px;
    animation: growing 1s linear;
}

.letter:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.sender-info-container {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 35%;
}

.sender-info-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.sender-info-container__photo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../images/myPhoto.svg);
    margin-left: 16px;
    margin-right: 16px;
}

.sender-info-container__theme {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-family: "Yandex Sans Light", serif;
    font-size: 15px;
    width: 60%;
    height: 20px;
    margin-left: 3px;
    word-spacing: normal;
}

.wrapper-readed {
    display: inline-block;
    vertical-align: middle;
    width: 3%;
    height: 100%;
}

.wrapper-readed:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.readed {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: rgb(98, 135, 189);
    border-radius: 50%;
}

.letter-info-container {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 60%;
}

.letter-info-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.letter-info-container__begin-of-letter {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    font-family: "Yandex Sans Light", serif;
    font-size: 15px;
    height: 20px;
    word-spacing: normal;
    margin-left: 10px;
}

.letter-info-container__data {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    font-family: "Yandex Sans Light", serif;
    font-size: 15px;
    text-align: right;
    color: rgb(155, 155, 155);
    word-spacing: normal;
}

.trashcan {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 20px;
    margin-left: 20px;
    background-image: url(../images/trashcan.svg);
    cursor: pointer;
}

.trashcan:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}